/.config/*
!/.config/alacritty/
!/.config/compton.conf
!/.config/dunst/
!/.config/emacs/
!/.config/i3/
!/.config/paru/
!/.config/picom/
!/.config/polybar/
!/.config/rofi/
!/.config/starship.toml
!/.config/tmux/
!/.config/xremap/
!/.config/yazi/
!/.config/zellij/
