/.emacs.d/*
!/.emacs.d/init.el

/.config/*
!/.config/alacritty/
!/.config/dunst/
!/.config/i3/
!/.config/paru/
!/.config/picom/
!/.config/polybar/
!/.config/rofi/
!/.config/xremap/
!/.config/compton.conf
!/.config/starship.toml
